<h1 class="text-center my-5">Registro de usuarios nuevos</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="/auth/register" method="post">
            <input type="text" class="form-control mb-2" name="userName" placeholder="Ingrese nombre"> 
            <input type="text" class="form-control mb-2" name="email" placeholder="Ingrese email"> 
            <input type="password" class="form-control mb-2" name="password" placeholder="Ingrese password"> 
            <input type="password" class="form-control mb-2" name="repassword" placeholder="Repita password"> 

            <button class="btn btn-primary" type="submit">Registrar usuario</button>
        </form>        
    </div>
</div>

